<article>
	<section id="main">
		<h1>This section is about randomness</h1>
		<p>
			Well in the randomness section I thought about writing something not absolutelr random for first paragraph, but second would be too random.
		</p>
		<p>
			I can do not what this sense make conquerers AOE GTA movie shawshank anything xps laptop macbook WOW.
		</p>

	</section>
	<section id="sidebar">
		<h1>This section is not random</h1>
		<p>
			In this section I am going to write about nothing, and nothing's gonna be very interesting about nothing, so you better do nothing and go about reading nothing till nothing
		</p>
		<p>
			Well you might be disappointed cause you thought atleast this section is not gonna be random so you might just read something, if not interesting, but you read NOTHING, first you got to read something, the you can decide... HAHAHA...
		</p>

	</section>
</article>