/*
Partial: site-branding.scss
*/

$Sheading-font: 'Verdana', 'Arial', 'Helvetica', sans-serif;
$accent-font: 'Georgia', 'Times New Roman', 'Times', serif;
$body-font: 'Times New Roman', 'Times', serif;

$white: #FFFFFF;
$khakhi: #808000;
$mid-green: #008000;
$dark-greeb: #50b450;
$near-black: #333;